# Object file
*.o

# Ada Library Information
*.ali

# Compiled files
*.pyc

# Notebook checkpoints
notebooks/.ipynb_checkpoints/
notebooks/Tests.ipynb

# Undeletable file
how-cfg-g

# Build related files
build/
dist/
*.spec

# vscode
.vscode/
